{{#each this}}
<div class='country' style="background-image: url({{this.flag}})">
    <div class='country-body'>
        <h1 class='country-name'>{{this.name}}</h1>
        <p class="country-capital"> <span class="wrap">Capital: </span>{{this.capital}}</p>
        <p class="country-population"><span class="wrap">Population: </span>{{this.population}}</p>
        {{#each languages}}
        <p class="country-languages"> <span class="wrap">Languages: </span>{{this.name}}</p>
        {{/each}}
        {{#each currencies}}
        <p class="country-currencies"><span class="wrap">Currencies: </span>{{this.name}}</p>
    </div>
    {{/each}}
    <div class='img-wrap'>
        {{!-- <img class="country-flag" src="{{this.flag}}" alt="{{this.name}} flag" width="400" </div> --}}
    </div>
    {{/each}}